/* Makes the tap highlight invisible for all elements */
* {
    -webkit-tap-highlight-color: transparent;
}
@font-face { font-family: segoeui; src: url('https://vuvien.nekoweb.org/segoeuithis.ttf'); }
@font-face { font-family: papyrus; src: url('https://vuvien.nekoweb.org/papyrus.ttf'); }

html {
  background-color: black;
  background: url('https://vuvien.nekoweb.org/bg.jpg');
  background-color:#000000 ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {
	color: black;
	font-family: segoeui;
}
button {
	font-family: segoeui;
}
.layout {
width:90%;
height: 650px;
max-width:800px;
background-color: #f1e9d2;
border-radius:15px;
-webkit-animation: fadeEffect3 0.25s;
animation: fadeEffect3 0.25s;
border: 2px solid rgba(255,250,255,0.1);
box-shadow: rgba(0, 0, 0, 1) 0px 0px 20px 5px, rgba(0, 0, 0, 1) 0px 1px 3px -1px;
}
.tab2 {
	font-family: segoeui;
  backdrop-filter:blur(10px);
  -webkit-backdrop-filter:blur(10px);
	display: block;
	margin-left: auto;
	margin-right:auto;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  width:93.5%;
  border:3px solid rgba(255,255,255,0.1);
  border-radius:10px;
  background: rgba(241,233,210,0.3);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 5px;
}

/* Style the buttons inside the tab */
.tab2 button {
  outline: none;
  float: left;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  background:inherit;
  border-radius: 9px;
}

/* Change background color of buttons on hover */
.tab2 button:hover {
  -webkit-animation: fadeEffect2 0.5s;
  animation: fadeEffect2 0.5s;
box-shadow: rgba(255, 255, 255, 1) 0px 0px 50px 25px;
}

/* Create an active/current tablink class */
.tab2 button.active {
background-image:linear-gradient(#39db90,#00be91,#009a98);
color: rgba(255,255,255,0.75)
}
.tabcontent {
	display: block;
	margin-left:auto ;
	margin-right: auto;
  display: none;
  -webkit-animation: fadeEffect 0.5s;
  animation: fadeEffect 0.5s;
  height: 650px;
  position: relative;
  border-radius: 5px;
  width: 99%;
  z-index: 1;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;scale:0.95;filter: blur(20px) invert(100%);}
  to {opacity: 1;scale:1;filter:blur(0px) invert(0%);}
}

@keyframes fadeEffect {
  from {opacity: 0;scale:0.95;filter: blur(20px);}
  to {opacity: 1;scale:1;filter:blur(0px);}
}
@-webkit-keyframes fadeEffect2 {
  from {opacity: 1;scale:1;filter: blur(20px) saturate(3);}
  to {opacity: 1;scale:1;filter:blur(0px) saturate(1);}
}

@keyframes fadeEffect2 {
  from {opacity: 0;scale:1;filter: blur(20px) saturate(3);}
  to {opacity: 1;scale:1;filter:blur(0px) saturate(1);}
}
@-webkit-keyframes fadeEffect3 {
  from {opacity: 0;scale:0.9;filter: blur(20px);}
  to {opacity: 1;scale:1;filter:blur(0px);}
}

@keyframes fadeEffect3 {
  from {opacity: 1;scale:0.9;filter: blur(20px);}
  to {opacity: 1;scale:1;filter:blur(0px);}
}

summary::marker {
	content:' + ';
}
details[open] summary::marker {
	content:' ↑ Close • ';
	opacity: 0.75;
}
.box {
      border: 2px solid rgba(88,72,42,0.25);
	    box-shadow: rgba(88,72,42,0.1) 0px 1px 10px 2px inset;
	    margin: 10px;
	    border-radius: 7px;
	    padding: 10px 15px;
      margin-block-start: 15px;
	    margin-bottom: 30px;
      -webkit-animation: fadeEffect 0.5s;
      animation: fadeEffect 0.5s;
}
.box2 {
      border: 2px solid rgba(88,72,42,0.25);
	    box-shadow: rgba(88,72,42,0.1) 0px 1px 10px 2px inset;
	    border-radius: 7px;
	    padding: 10px 10px;
      height:10px;
      margin-inline-start: 100px;
}
.box3 {
      border: 2px solid rgba(88,72,42,0.25);
	    box-shadow: rgba(88,72,42,0.1) 0px 1px 10px 2px inset;
	    border-radius: 7px;
	    padding: 10px 10px;
      height:70px;
}
.btn {
padding:15px 30px;
	color:rgba(88,72,42,1);
	border: none;
    box-shadow: rgba(88, 72, 42, 0.175) 0px 0px 10px 2px;
	border-radius: 7px;
	margin-inline: 10px;
	margin-block-start: 15px;
	transition:0.3s ;
	position: relative;
	top:-7px;
	background: inherit;
border-block-end: 4px solid rgba(88,72,42,0.25);
}
.btn:hover {
	background:linear-gradient(#009a98,#00be91,#39db90);
    color: rgba(255,255,255,0.8);
    font-size:110%;
	border-block-end: 0px solid rgba(88,72,42,0.5);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px inset;
}
.faq {
padding:15px 30px;
    box-shadow: rgba(88, 72, 42, 0.175) 0px 0px 10px 2px;
	color:rgba(88,72,42,1);
	border: none;
border-block-end: 4px solid rgba(88,72,42,0.25);
	border-radius: 7px;
	margin-inline: 10px;
	margin-block-start: 15px;
	transition:0.3s ;
	position: relative;
	top:-7px;
}
.faq:hover {
	background:linear-gradient(#009a98,#00be91,#39db90);
    box-shadow: rgba(0, 61, 47, 0.175) 0px 0px 0px 0px;
    color: rgba(255,255,255,0.8);
    font-size:110%;
	border-block-end: 0px solid rgba(88,72,42,0.5);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px inset;
}
.btn2 {
    padding:15px 0px;
    box-shadow: rgba(88, 72, 42, 0.175) 0px 0px 10px 2px;
	border: none;
  border-block-end: 4px solid rgba(88,72,42,0.25);
	border-radius: 7px;
	margin-inline: 10px;
	margin-block-start: 15px;
	transition:0.3s ;
	position: relative;
	top:-7px;
	background: inherit;
	width:75px;
	height:75px;
	color:rgba(88,72,42,1);
}
.btn2:hover {
	background:linear-gradient(#009a98,#00be91,#39db90);
    box-shadow: rgba(0, 61, 47, 0.175) 0px 0px 0px 0px;
    color: rgba(255,255,255,0.8);
    font-size:110%;
	border-block-end: 0px solid rgba(88,72,42,0.5);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px inset;
}

.img2:hover {
	transition: 0.4s;
	filter:invert(100%);
	opacity: 0.5;
}
a {
	text-decoration: none;
}
.bg-sticker {
	position: absolute;
	z-index: 0;
	opacity: 0.1;
	rotate: -30deg;
	width:600px;
	height: auto;
	filter: grayscale(100%);
	top: 275px;
	left:150px;
	pointer-events: none;
}
.hover:hover {
	scale: 1.3;
	transition: 0.3s;
}
@-webkit-keyframes rotating /* rotating background */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
  z-index: -1;
  filter:grayscale(100%);
}
.loading {
  text-align: center;
  margin:30px;
}
.more {
	padding: 15px 15px;
	border: 2px solid rgba(88,72,42,0.25);
	border-radius: 9px;
	text-align: center;
	margin-block-end: 15px;
    box-shadow: rgba(255, 255, 255, 0.175) 0px 0px 10px 2px inset;
}
hr {
	border:1px dashed rgba(88,72,42,0.25);
}
h1 {
	color:rgba(88,72,42,1);
	font-size: 250%;
}
h2 {
	color:rgba(88,72,42,1);
}
h3 {
	color:rgba(88,72,42,1);
}
p {
	color:rgba(88,72,42,0.8);
}
details {
	color:rgba(88,72,42,1);
}
.png {
	width:75px;
	height: auto;
	float: left;
}
.start {
	position: relative;
	top: 200px;
	padding: 20px 40px;
	border: 2px solid white;
	border-radius: 9px;
	background: inherit;
	color:white;
	font-size: 140%;
}
a {
	text-decoration: none;
	color:#009a98;
}
.picture {
	border: 10px solid white;
    box-shadow: rgba(0,0,0, 0.25) 0px 4px 10px 2px;
    height:auto;
    width: 475px;
    display: block;
    margin: 0 auto;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-inline-end: 3.5px;
  transition: 0.4s;
}
.popuptext {
backdrop-filter:blur(10px);
  -webkit-backdrop-filter:blur(10px);
  visibility: hidden;
  width: auto;
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.9);
  text-align: left;
  border-radius: 9px;
  padding: 10px 10px;
  position: absolute;
  z-index: 10;
  top: -30px;
  left: 10px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 5px;
border: 2px solid rgba(255,255,255,0.5);
}

.popuptext::after {
  content: "";
  position: absolute;
  margin-top: -5px;
}

.popup:hover .popuptext {
  visibility: visible;
      -webkit-animation: fadeEffect 0.5s;
      animation: fadeEffect 0.5s;
}
.wrap {
	padding: 10px 10px;
	border: 2px dashed rgba(88,72,42,0.25);
	border-radius: 7px;
}
.wrap2 {
	position: relative;
	top: 2.5px;
}
.protect {
    pointer-events: none;
}
.sticky {
	width:125px;
	height: auto;
	position: absolute;
	right: 7px;
	top: -5px;
	z-index: 100;
    filter: drop-shadow(-2px 8px 5px rgba(0,0,0,0.25));
    transition: 0.3s;
pointer-events: none;
}
.ad {
	position: relative;
	width: 400px;
	height: auto;
	display: block;
	margin-left:auto;
	margin-right:auto;
	border-radius: 4px;
	top: -2px;
}
.music {
	transition: 0.3s;
}
.music:hover {
	filter: blur(10px);
}
